main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: #E5E5E5;
}

main img{
    height: 200px;
}

@media (min-width:1024px){
    main img{
        width: 730px;
        height: 410px;
        left: calc(50% - 730px/2);
        top: calc(50% - 410px/2 + 28px);
    }  
}