.modal-blur{
    background: rgba(255,255,255,0.2); 
    backdrop-filter: blur(8px); 
    
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.container-modal{
    width: 980px;
    height:346px;
    background: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}

.profile img{
    width: 266px;
    height: 266px;
    border-radius: 12px;
    margin-left: 40px;
}


.grid {
	display: grid;
}

.profile {
	grid-area: profile;

    display: flex;
    align-items: center;
}

.title {
	grid-area: title;

    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 22px;
}

.content-user{
	grid-area: content;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 22px;
    margin-top: -90px;
    
}

.sidenav {
	grid-area: sidenav;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 122px;
    margin-top: -80px;
}



.sidenav button{
  
    width: 87px;
    height: 36px;

    
/* Primary 0 */
    color: #8C56C2;
    border: 1px solid #8C56C2;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.grid-template-areas-1 {
	grid-template-areas:
		"profile title title"
		"profile content sidenav"
		"profile content sidenav"
		;
}


