footer{ 
    width:100vw;
    height:36px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(47, 37, 68, 0.15);
    text-align: center;
    float: left;
}

footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    
    line-height: 16px;
    color: #7B6490;
}