.container{
    display: flex;
    flex-direction: column;
    
    width: 100vw;

    background: url("../../assets/Background.jpg");
    background-size: cover;
    float: left;
}


.content{
    width:60%;
    margin:20px 15%;
}


.content-title{
    width:100%;
    margin:30px auto;
}

.content-title span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #2F2544;
}


.content-card div{
    display: flex;
    flex-direction: column;
    
    
    width:100%;
    margin:4% 0;
    background:#fff;
    border-radius:10px;
}

.content-card img{
    width: 100%;
    height: 340px;
    border-radius: 10px 10px 0px 0px;
}

.content-card h2{
    margin:2px 4%;
}

.content-card a{
    margin:2px 4%;
}

.content-card span{
    margin:4px 4%;
}

.content-card button{
    text-align: center;
    width: 80%;
    margin:10%;
    height: 36px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    background: #8C56C2;
    color:#fff;
}


@media (min-width:700px){
    .content{
        width:48%;
        margin:20px 30%;
    }

}


@media (min-width:900px){
    .content{
        width:50%;
        margin:20px 25%;
    }
    .content-card{
        display: flex;
        flex-flow: row wrap;
    }
    .content-card div{
        margin:2% 4px;
        width:230px;
    }
    
    .content-card img{
        height: 230px;
    }
}
