header{
    width:100vw;
    height:90px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(47, 37, 68, 0.15);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    float: left;
    
}

header img{
    width:140px;
    height:54px;
    margin-left: 50px;
}

/* CONFIG AREA SEARCH */

.area-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width:100%;
    height:36px;
    border: 1px solid #E1DFE0;
    border-radius: 4px;
    
    box-sizing: border-box;
    margin-left:22px;
    margin-right:40px;  
}

.area-input input{
    width: 100%;
    height:30px;
    border:none;
    outline:none;
    padding-left: 11px;
}

.area-input input::placeholder{
    font-family:Roboto;
    font-weight: 400;
    color:#A99FAA;
}

.area-input button{
    width:36px;
    height: inherit;
    background: #8C56C2;

    border: none;
    border-radius: 0px 4px 4px 0px;
    outline:none;
    cursor: pointer;

    transition: 0.5s;
}

.area-input button:hover{
    background: #784AA6;
}